<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.oneaudience.cordova"
		version="0.1.0"
		xmlns="http://www.phonegap.com/ns/plugins/1.0">
	<name>OneAudienceCordova</name>
	<description>One Audience Cordova Plugin</description>
	<license>Private</license>
	<keywords>phonegap,oneaudience</keywords>
	<js-module name="OneAudiencePlugin" src="www/oneaudiencecordova.js">
		<clobbers target="window.plugins.oneaudiencecordova" />
	</js-module>
	<dependency id="cordova-plugin-device"/>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="OneAudiencePlugin">
				<param name="android-package" value="com.oneaudience.cordova.OneAudiencePlugin" />
			</feature>
		</config-file>
		<config-file parent="/manifest" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name='android.permission.GET_ACCOUNTS'/>
		</config-file>
		<source-file src="src/android/com/oneaudience/cordova/OneAudiencePlugin.java" target-dir="src/com/oneaudience/cordova" />
		<source-file src="src/android/libs/OneAudience-sdk-release-6.0.0.2.jar" target-dir="libs" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="OneAudienceCordova">
				<param name="ios-package" value="OneAudienceCordova" />
			</feature>
		</config-file>
		<source-file src="src/ios/OneAudienceCordova.m" />
		<framework src="src/ios/libs/AJKit.framework" custom="true"/>
		<framework src="SystemConfiguration.framework" weak="true"/>
		<framework src="MobileCoreServices.framework" weak="true"/>
		<framework src="CoreTelephony.framework" weak="true"/>
		<framework src="Security.framework" weak="true"/>
		<framework src="AdSupport.framework" weak="true"/>
	</platform>
</plugin>
